body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight:700;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: 0;
  border-top: 8px dotted lightgrey;
  width: 5%;
  margin: 100px auto;
}

a {
  color: white;
  text-decoration: none;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.cloud-top {
  position: absolute;
  right: 280px;
  top: 40px;
}

.cloud-bottom {
  position:absolute;
  left: 280px;
  bottom: 300px;
}

.profile-img {
  padding-top: 70px;
  width: 12%;;
}

.bio {
  width: 30%;
  margin: 0 auto;
  line-height: 2;
}

.middle-container {
}

.programmer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.rubiks-cube-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  height: 80px;
  background-color: #66BFBF;
  padding: 40px;
}

.footer-link {
  margin: 20px;
}

.copyright {
  margin-top: 30px
}

.contact-me {
  position: relative;
}

.contact-me-para {
  width: 40%;
  margin: 40px auto 0 auto;
  line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  /* font-family: Arial; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  margin-top: 40px;
  margin-bottom: 100px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
